body {
    margin: auto 0;
    font-family: Arial;
    background-image: url(https://ak.picdn.net/shutterstock/videos/14928010/thumb/1.jpg);
}

.push_left {
    margin-left: auto;
    padding: 7px;
}

.disc {
    color: black;
    text-decoration: none;
}

.disc:hover {
    text-shadow: whitesmoke 0px 3px 15px;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

/* COVER */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    font-size: 5em;
    color:  orange;
    font-weight: bold;
    opacity: 100%;
    text-shadow: 3px 3px 5px yellow;
}

/* GRID */
.grid-wrapper {
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box > img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.box {
    background-color: lightblue;
    padding: 0px;
    margin: 0px;
    height: 400px;
    width: 400px;
    box-shadow:  6px 6px 7px 7px black;
    transition: all .5s;
}

.box:hover {
    transform: scale(1.2);
    border: 2px lightyellow;
    /*filter: blur(0px);*/
}

.zone {
    /*padding:30px 50px;
    margin:40px 60px;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all .7s linear;
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}


/* DropDown button */
.drpbtn {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    color: black;
    padding: 7px;
    font-size: 1em;
    border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lightgreen;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.dropdown-content a:hover {background-color: lightblue;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .drpbtn { background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    box-shadow: white 0px 3px 3px, inset rgba(0,0,0,0.15) 0px -3px 3px;
}
